<div class="cc-license animated" itemprop="sponsor">
  <a href="https://travellings.link" class="cc-opacity" title="开往-友链接力" target="_blank"><img width="80" src="https://travellings.link/assets/logo.svg" alt="Travelling"></a>
</div>
<a href="https://www.foreverblog.cn/go.html" target="_blank" > <img src="https://img.foreverblog.cn/wormhole_2.gif" alt="" style="width:auto;height:32px;" title="穿梭虫洞-随机访问十年之约友链博客"> </a>
  <img alt="Wikiapiary installs" src="https://img.shields.io/badge/Powered-Vercel-yellowgreen?link=https://vercel.com&link=https://vercel.com&logo=vercel">

